@use "./sass/partials/nav";
@use "./sass/partials/hero";
@use "./sass/partials/about";
@use "./sass/partials/skills";
@use "./sass/partials/projects";
@use "./sass/partials/contact";
@use "./sass/partials/footer";

body {
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}


h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}


